[submodule "submodules/px2style"]
	path = submodules/px2style
	url = https://github.com/pickles2/px2style.git
[submodule "submodules/gitui79.js"]
	path = submodules/gitui79.js
	url = https://github.com/tomk79/gitui79.js.git
[submodule "submodules/node-git-parser"]
	path = submodules/node-git-parser
	url = https://github.com/tomk79/node-git-parser.git
