.DS_Store
Thumbs.db
.~*.csv#
~$*
/node_modules
/public/hot
/public/storage
/public/projects
/public/assets/px2ce_resources
/public/assets/px2te_resources
/public/assets/cce
/storage/*.key
/composer.lock
/vendor
/app/common/composer/home
/.idea
/.vscode
/.vagrant
/nohup.out
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/bd_data
/laravel-echo-server.json
/laravel-echo-server.lock
/dump.rdb
/settings
