.cont_top_jumbotron {
	background-color: #f6f6f6;
	background-image: url("/common/images/main.png");
	background-position: center center;
	background-size: cover;
	color: #00a0e6;
	padding: 3em 0.5em;
}

.cont_top_footer {
	text-align: center;
	padding: 5px;
	border-top: 1px solid #999;
	background-color: #f6f6f6;
	color: #666;
	a {
		color: #333;
		text-decoration: underline;
	}
}
